/* colors */
$color-black: #1c232b;
$color-grey: #6c7289;
$color-cream: #f2eae2;
$color-white: #ffffff;

$color-green-500: #3d8168;
$color-green-700: #1a4032;

/* fonts */
$font-montserrat: 'Montserrat', sans-serif;
$font-fraunces: 'Fraunces', serif;
$fw-medium: 500;
$fw-bold: 700;

/* spacing */
$space-500: 2.5rem;
$space-400: 2rem;
$space-300: 1.5rem;
$space-200: 1rem;
$space-100: 0.5rem;
$space-50: 0.25rem;
